Flask==2.3.3
pandas==2.2.2
numpy==1.26.2
pymongo==4.5.0
python-dotenv==1.0.0
openpyxl==3.1.2
xlrd==2.0.1
werkzeug==3.1.2
scikit-learn==1.5.1
gunicorn==21.2.0
reportlab==4.0.7
matplotlib==3.8.2
Pillow==10.1.0
certifi==2023.11.17
